@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');

.authentication {
    height: 100vh;
    @media screen and(max-width:1000px){
        height: auto;
    }

    .form {
        font-family: 'Peddana',
            serif;

        p {
            &.login {
                color: #A29E95;
                font-size: 30px;
            }
            &.error{
                color: #CE1C0C;
                font-size: 18px;

            }

            text-transform: uppercase;

            font-size: 40px;
            color: black;


        }

        form{
            margin-top: 10em;
           
            .form-control {
                border-radius: 5px;
                color: #A29E95;
                
                font-size: 20px;
                &:hover,&:focus{
                    box-shadow: none;
                }
            }
            .btn{
                background-color: transparent;
                border: none;
                color: black;
                text-transform: uppercase;
                &:hover,&:focus{
                    box-shadow: none;
                }
                span{
                    color: #D76C57;
                }
            }
        }
    }

}