@import url("https://fonts.googleapis.com/css2?family=Peddana&display=swap");
.authentication {
  height: 100vh;
}
@media screen and (max-width: 1000px) {
  .authentication {
    height: auto;
  }
}
.authentication .form {
  font-family: "Peddana", serif;
}
.authentication .form p {
  text-transform: uppercase;
  font-size: 40px;
  color: black;
}
.authentication .form p.login {
  color: #A29E95;
  font-size: 30px;
}
.authentication .form p.error {
  color: #CE1C0C;
  font-size: 18px;
}
.authentication .form form {
  margin-top: 10em;
}
.authentication .form form .form-control {
  border-radius: 5px;
  color: #A29E95;
  font-size: 20px;
}
.authentication .form form .form-control:hover, .authentication .form form .form-control:focus {
  box-shadow: none;
}
.authentication .form form .btn {
  background-color: transparent;
  border: none;
  color: black;
  text-transform: uppercase;
}
.authentication .form form .btn:hover, .authentication .form form .btn:focus {
  box-shadow: none;
}
.authentication .form form .btn span {
  color: #D76C57;
}

/*# sourceMappingURL=authentication.css.map */
