@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Peddana&display=swap");
nav.navbar-light .navbar-brand {
  font-family: "Oxygen", sans-serif;
  text-transform: uppercase;
}
nav.navbar-light .navbar-nav {
  margin-left: auto;
}
nav.navbar-light .navbar-nav li .nav-link {
  color: #000000;
}
nav.navbar-light .navbar-nav li .nav-link .active {
  color: #D76C57;
}
nav.navbar-light .navbar-nav form span {
  cursor: pointer;
}

header {
  height: 100vh;
  width: 100%;
  background-image: url("../images/home1.png");
  background-position: center top;
}

.bestBand h3 {
  font-size: 20px;
  color: #CE1C0C;
  font-family: "Oxygen", sans-serif;
}
.bestBand span {
  color: #CE1C0C;
}

.createClub h3 {
  font-size: 20px;
  color: #CE1C0C;
  font-family: "Oxygen", sans-serif;
}
.createClub form .form-control {
  border-radius: 5px;
  color: #A29E95;
  font-family: "Peddana", serif;
  font-size: 20px;
}
.createClub form .form-control:hover, .createClub form .form-control:focus {
  box-shadow: none;
}
.createClub form .btn {
  background-color: #D76C57;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
}
.createClub form .btn:hover, .createClub form .btn:focus {
  box-shadow: none;
}

.yourClub .card {
  font-family: "Peddana", serif;
  font-size: 25px;
}
.yourClub img {
  height: 150px;
}

.user {
  top: 2em;
}
.user span.addicon {
  font-size: 20px;
  color: #D76C57;
}
.user div {
  background-color: #ffffff;
  box-shadow: #dddddd;
}
.user div h3 {
  font-family: "Oxygen", sans-serif;
  color: #CE1C0C;
  text-transform: capitalize;
  font-size: 18px;
}
.user ul {
  list-style: none;
}

/*# sourceMappingURL=home.css.map */
