@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Peddana&display=swap');

nav {

    &.navbar-light {
        .navbar-brand {
            font-family: 'Oxygen', sans-serif;
            text-transform: uppercase;
        }

        .navbar-nav {
            margin-left: auto;

            li {
                  
                .nav-link {
                    color: #000000;

                    .active {
                        color: #D76C57;
                    }
                }
            }

            form {
                span {
                    cursor: pointer;
                }
            }
        }
    }
}

header {
    height: 100vh;
    width: 100%;
    background-image: url('../images/home1.png');
    background-position: center top;

}
.bestBand{
    h3{
        font-size: 20px;
        color: #CE1C0C;
        font-family: 'Oxygen', sans-serif;
    }
    span{
        color: #CE1C0C;
    }
}
.createClub {
    h3 {
        font-size: 20px;
        color: #CE1C0C;
        font-family: 'Oxygen', sans-serif;
    }

    form {


        .form-control {
            border-radius: 5px;
            color: #A29E95;
            font-family: 'Peddana',
                serif;

            font-size: 20px;

            &:hover,
            &:focus {
                box-shadow: none;
            }
        }

        .btn {
            background-color: #D76C57;
            border: none;
            color: #ffffff;
            text-transform: uppercase;

            &:hover,
            &:focus {
                box-shadow: none;
            }

        }
    }
}

.yourClub {
    .card {

        font-family: 'Peddana',
            serif;
        font-size: 25px;


    }

    img {
        height: 150px;
    }
}

.user {
    top: 2em;

    span {
        &.addicon {
            font-size: 20px;
            color: #D76C57;
        }
    }

    div {
        background-color: #ffffff;
        box-shadow: #dddddd;

        h3 {
            font-family: 'Oxygen', sans-serif;
            color: #CE1C0C;
            text-transform: capitalize;
            font-size: 18px;
        }
    }

    ul {
        list-style: none;
    }
}