<template>
    <div>
    <Navbar />
     <section class="mt-5">
     <b-container>
     <b-table striped hover :items="club"></b-table>
     </b-container>
     </section>
    
    </div>
     
</template>
<script>
import {mapState} from "vuex"
import Navbar from "../components/navbar"
export default {
    components:{
      Navbar
    },
    methods:{
    ...mapState([
      "club"
    ])
  },
 
}
</script>