<template>
  <div>
    <header><Navbar /></header>
    <section class="fixed-top user">
      <span class="addicon" @click="showUser = !showUser"
        ><i class="fas fa-plus-circle"></i
      ></span>
      <div
        class="col-lg-3 col-md-12 p-4 pb-0"
        v-if="showUser"
        data-aos="fade-right"
      >
        <h3>User in system</h3>
        <ul class="p-1 pt-0 pb-0" v-for="(user, index) in users" :key="index">
          <li>{{ index + 1 }}.{{ user.name }}</li>
        </ul>
      </div>
    </section>
    <section class="bestBand">
      <b-container>
      <h3 class="mt-5">The Best Band</h3>
        <b-row class="mt-2">
          <b-col lg="3" md="12">
            <b-card
              :img-src="require('../images/exo.png')"
              img-alt="Image"
              img-top
            >
              <b-card-text>
               EXO {{i}} <span class="ml-3" @click="this.count"><i class="fas fa-heart"></i></span>
              </b-card-text>
            </b-card>
          </b-col>
            
            
          
        </b-row>
      </b-container>
    </section>
    <section class="createClub mt-5 mb-5">
      <b-container>
        <b-form @submit.prevent="storeData">
          <b-row>
            <b-col sm="7"><h3>Create Your own club</h3></b-col>
            <b-col sm="7">
              <b-form-input
                class="mb-3"
                type="text"
                placeholder="Name of Club"
                v-model="form.name"
              ></b-form-input>
              {{ form.name }}
            </b-col>
            <b-col sm="7">
              <b-form-input
                class="mb-3"
                type="number"
                placeholder="Name of member"
                v-model="form.number"
              ></b-form-input>
            </b-col>
            <b-col sm="7">
              <b-button type="submit" class="btn px-5">ADD </b-button>
            </b-col>
          </b-row>
        </b-form>
      </b-container>
    </section>
  </div>
</template>
<script>
import "@/styles/home.css";
import axios from "axios";
import Navbar from "../components/navbar";
import { mapActions } from "vuex";

export default {
  components: {
    Navbar,
  },
  
  data() {
    return {
      users: [],
      showUser: false,
      i:0,
      
      form: {
        name: "",
        number: 0,
        species : "club"
        
      },
      
    };
  },
  
  
  methods: {
      ...mapActions(["addClub"]),
    storeData() {
      const { name, number } = this.form;
      const payload = {
        Clubs: {
          name,
          number,
        },
      };
      this.addClub(payload);
    },
    count(){
        return this.i +=1 
    }

  },
  created() {
    axios
      .get("https://jsonplaceholder.typicode.com/users")
      .then((info) => {
        this.users = info.data;
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>