<template>
  <div class="authentication" style="overflow-x: hidden; overflow-y: hidden">
    <b-container fluid class="p-0">
      <b-row>
        <b-col lg="6" md="12"
          ><img src="@/images/pic.png" class="img-fluid" alt="IU"
        /></b-col>
        <b-col lg="6" md="12" class="form">
          <p class="login px-3" align="end">login</p>
          <div>
            <b-form action="/home" @submit="checkForm">
              <b-row align-h="center">
                <b-col sm="7"><p>WELCOME TO KPOP CLUB</p></b-col>
                <b-col sm="7">
                  <b-form-input
                    class="mb-3"
                    type="email"
                    v-model="email"
                  ></b-form-input>
                </b-col>
                <b-col sm="7">
                  <b-form-input
                    class="mb-3"
                    type="password"
                    v-model="password"
                  ></b-form-input>
                </b-col>
                <b-col sm="7" v-if="errors.length">
                  <p class="error" v-for="error in errors" :key="error">
                    {{ error }}
                  </p>
                </b-col>
                <b-col sm="7">
                  <b-button type="submit" class="btn mt-4"
                    >login
                    <span><i class="fas fa-sign-in-alt"></i></span></b-button
                ></b-col>
              </b-row>
            </b-form>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import "@/styles/authentication.css";
export default {
  data() {
    return {
      email: "Email",
      password: "password",
      errors: "",
    };
  },
  methods: {
    checkForm: function (e) {
      this.errors = [];
      if (!this.email) {
        this.errors.push("Email required");
      } else if (!this.validEmail(this.email)) {
        this.errors.push("Valid Email required");
      }
      if (!this.password) {
        this.errors.push("Password required.");
      } else if (this.password.length < 5) {
        this.errors.push("Password must be larger than 5.");
      }
      if (!this.errors.length) {
        return true;
      }

      e.preventDefault();
    },
    validEmail: function (email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
  },
};
</script>
