<template>
  <b-container
    ><b-navbar toggleable="lg" type="light">
      <b-navbar-brand href="#">kpopclub</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item href="/home">
            <span :class="[path().path=='/home'?'active':'']">Home</span>
          </b-nav-item>
          <b-nav-item href="/club"><span :class="[path().path=='/club'?'active':'']">Club</span></b-nav-item>
        </b-navbar-nav>
      </b-collapse>
     
    </b-navbar>
  </b-container>
</template>
<script>
export default {
  methods:{
    path (){
       return this.$route 
    }
  }
}
</script>